= render "participant/googlemap", :map_name => "mainMap"
:javascript
  $(function() {
    addPathToMap(allMaps.mainMap, #{@parent.travel_fixes.geo_json_line.to_json});
    fitMapToBounds(allMaps.mainMap);
  })
