!!!
%head
  =stylesheet_link_tag "viewer", "application", "daily"
  =javascript_include_tag "jquery"
  =javascript_include_tag "json2", "underscore", "backbone", "backbone.rails"
  =javascript_include_tag "polymaps/polymaps.js", "polymaps-utils"

%body
  = yield